.background_f {
    height: 100vh;
    width: 100%;
    background-image: url('../Image/Login/background.png'); /* Use 'url()' for the background-image property */
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
    display: flex;
    align-items: center;
    justify-content: center;
}

.window{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 30px;

    position: absolute;
    width: 70%;

    background: #FFFFFF;
    /* 1 */
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin: auto;
    aspect-ratio: 1.15 / 1;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: auto;
    gap: 14px;

    width: 148.36px;
    height: 40px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.input_container{
    display: grid;
    width: 100%;
    margin-top: 2%;
}
input{
    box-sizing: border-box;
    width: 100%;
    aspect-ratio: 6.2 / 1;
    margin-bottom: 3.7%;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
}

input::placeholder {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.003em;
    color: #7E7E7E;
    text-indent: 3%; 
}

.google_button{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr ;
    justify-items: center;
    align-items: center;

    width: 100%;
    aspect-ratio: 6.5 / 1;
    margin-top: 2.1vh;

    /* identical to box height, or 150% */
    letter-spacing: -0.003em;
    background-color: #FFFFFF;

    /* 글씨 */
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #37A0FF;

    /* 테두리 */
    border: 1px solid #37A0FF;
    border-radius: 40px;
}
.google_button #logo{
    width:40%;
    aspect-ratio: 1 / 1;
}
.google_button:hover{
    background-color: #f1f1f1;

}