.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5); /* 반투명한 오버레이 배경 */
}

.popup_back {
  text-align: left;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 145%;
  color: #949494;
  justify-self: start;
  margin-left: 3%;
}

.paper_popup {
  display: grid;
  grid-template-rows: 1fr 0.3fr 1fr 11.5fr 1.6fr;
  justify-items: center;
  align-items: center;
  width: 85%;
  aspect-ratio: 1 / 1.88;
  background: #fff; /* 팝업 배경색 */
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 145%;
  padding: 3%;
  margin: auto;
}

.move_button {
  width: 80%;
  aspect-ratio: 6.5 / 1;
  background: #37a0ff;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  letter-spacing: -0.003em;

  color: #ffffff;
  /* identical to box height, or 125% */
  text-align: center;
  letter-spacing: -0.5px;
  border: 1px solid #37a0ff;
  border-radius: 40px;
  margin-top: 101px;
}

.paper_container {
  margin-top: 31px;
  display: flex;
  width: 288px;
  align-items: flex-start;
  align-content: flex-start;
  gap: 0px 0px;
  flex-wrap: wrap;
  height: 412px;
}
.paper_tag {
  width: 96px;
  height: 112px;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.paper_tag:hover {
  background: var(--2, #e6f3ff);
}
.paper {
  width: 72px;
  height: 88px;
  flex-shrink: 0;
  background: none;
  padding: 0;
  margin: 0;
  margin: 0;
}
